:root {
  --color-light: #ffffff;
  --color-dark: #181719;
  --color-gray-one: #828282;
  --color-gray-two: #a9a9a9;
}
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}
