:root {
  --color-light: #ffffff;
  --color-dark: #181719;
  --color-gray-one: #828282;
  --color-gray-two: #a9a9a9;
}
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}
body {
  color: var(--color-light);
  background-color: var(--color-dark);
}
.main {
  display: grid;
  max-width: 120rem;
  height: 100vh;
  margin: 0 auto;
}

/*==============
  Section Header
================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9.6rem;
}
.header__logo {
  width: 10.2rem;
  height: 3.2rem;
  padding: 0.5rem 0;
  border: 1px solid var(--color-light);
  font-size: 1.4rem;
  font-family: "Crimson Pro";
  text-align: center;
}
.header__menu {
  width: 62.4rem;
  text-align: right;
}
.header__menuList {
  list-style: none;
}
.header__menuList li {
  display: inline-block;
  margin: 0 4rem;
}
.header__menuList li a {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-light);
}
.header__menuList li:hover {
  border-bottom: 1px solid var(--color-light);
  cursor: pointer;
}
.header__menuList li:hover a {
  font-weight: 700;
}

/*===============
  Section Content
=================*/
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6.4rem;
}
.content__text {
  width: 40%;
}
.content__text h1 {
  margin-bottom: 4rem;
  font-family: "Lora";
  font-size: 4.8rem;
  font-weight: 500;
}
.content__text p {
  width: 41rem;
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-weight: 400;
}
.content__button {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  height: 3.2rem;
}
.content__button:hover {
  cursor: pointer;
}
.content__button a {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-light);
}
.content__button .icon {
  content: url("../assets/trending_flat.svg");
}
.content__design {
  width: 50%;
  position: relative;
}
.content__design .design__image {
  width: 100%;
}
.content__design .design__image img {
  width: 100%;
}
.design__card {
  position: absolute;
  left: calc(100% - 45rem);
  bottom: -9.45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  width: 41rem;
  height: 18.9rem;
  padding-left: 3.2rem;
  background-color: var(--color-dark);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
}
.design__profile {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.design__profile img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.design__profile--data h3 {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.design__profile--data span {
  font-size: 1.2rem;
  color: var(--color-gray-one);
}
.design__card h2 {
  width: 25rem;
  font-family: "Lora";
  font-size: 2.4rem;
  font-weight: 700;
}

/*==============
  Section Footer
================*/
.footer {
  margin: 14.4rem 0 1.6rem;
  font-size: 1.4rem;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: var(--color-light);
  cursor: pointer;
  transition: all 300ms;
}
.footer a:hover {
  text-decoration: underline;
  color: #de5021;
}

/*=============
  Styles Mobile
===============*/

@media (max-width: 1200px) {
  .content {
    flex-direction: column;
  }
  .content__text {
    width: 90%;
  }
  .content__design {
    width: 90%;
    margin-top: 4rem;
  }
}

@media (max-width: 748px) {
  .content__text h1 {
    margin-bottom: 2.4rem;
    font-size: 3.6rem;
  }
  .content__text p {
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
  }
  .content__button a {
    font-size: 1.4rem;
  }
  .design__profile--data h3 {
    font-size: 1.2rem;
  }
  .design__profile--data span {
    font-size: 1rem;
  }
  .design__card h2 {
    font-size: 1.8rem;
  }
}
